body {
	font-family: roboto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.example-node {
	border: 1px solid black;
	padding: 20px;
}